* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-border {
    margin: 50px auto;
    width: 1200px;
}
.box-border .box-backgroun {
  height: 100px;
  background-color: #a8dadc;
}
.box-border .box-backgroun .boxin_relative{
    height: 80px;
    width: 1000px;
    background-color: #457b9d;
    position: relative;
}
.box-border .box-backgroun .boxin_relative .txt{
    margin-left: 20px;
    padding: 30px;
}
.box-border .box-backgroun .boxin_relative .boxout_absolute{
    height: 80px;
    width: 500px;
    background-color: #e63946;
    position: absolute;
    bottom: -80px;
    color: white;
}
/* box2 */
.box-border .box2{
    margin-top: 100px;
    position: relative;
}
.box-border .box-backgroun .boxin_box{
    background: none;
}
.box-border .box-backgroun .boxin_box .boxin_box_1{

    height: 40px;
}
.box-border .box-backgroun .boxin_box .boxin_box_2{
    background-color: #457b9d;
    height: 40px;
}
.box-border .box2 .boxin_relative .boxout_absolute_2nd{
    position: absolute;
    bottom: -90px;
    left: -100px;
}